.login-form {
  width: 300px;
  margin: auto;
  position: relative;

  input {
    border: 1px solid #dedede;
    background: #fff;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100%;
  }

  button {
    border: 1px solid #6157FF;
    background: #6157FF;
    color: #fff;
    padding: 10px 20px;
  }
}
