default:
  image: node:22
  cache:
    key: ${CI_PROJECT_NAME}-${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
  before_script:
    - node -v
    - npm -v
    - npx yarn@1.22.22 install --frozen-lockfile

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - npx yarn@1.22.22 build
  artifacts:
    paths:
      - dist/
    expire_in: 1 week
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH != "master"
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_COMMIT_TAG

publish:
  stage: deploy
  needs:
    - job: build
      artifacts: true
  script:
    - echo "//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" > .npmrc
    - npm publish
  rules:
    - if: $CI_COMMIT_TAG
