image: node:22-alpine

variables:
  NODE_OPTIONS: "--max-old-space-size=4096"

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_TAG

default:
  cache:
    key:
      files:
        - yarn.lock
      prefix: ${CI_PROJECT_NAME}
    paths:
      - node_modules/
  before_script:
    - node -v
    - corepack enable
    # Если хочешь зафиксировать Yarn v1: добавь в package.json "packageManager": "yarn@1.22.22"
    - corepack use yarn@1.22.22
    - yarn -v
    - yarn install --frozen-lockfile --prefer-offline

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - yarn build
  artifacts:
    paths:
      - dist/
    expire_in: 1 week
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH

publish:
  stage: deploy
  needs: ["build"]
  script:
    - |
      cat <<EOF > .npmrc
      @pmt:registry=https://${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
      //${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}
      //${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:username=gitlab-ci-token
      always-auth=true
      EOF
    - npm publish --registry "https://${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/"
  rules:
    - if: $CI_COMMIT_TAG
