const peerDepsExternal = require('rollup-plugin-peer-deps-external');
const copy = require('rollup-plugin-copy');
const bundleSize = require('rollup-plugin-bundle-size');

module.exports = {
  rollup(config) {
    // Automatically externalize peerDependencies (including react, i18next, etc.)
    const plugins = [
      peerDepsExternal(),
      ...config.plugins,
      bundleSize(),
      copy({ targets: [{ src: 'src/index.d.ts', dest: 'dist' }] }),
    ];

    return {
      ...config,
      external: [
        ...(config.external || []),
        'i18next',
        'react-i18next',
      ],
      plugins,
    };
  },
};
